[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.0"
dnspython = "==1.16.0"
ipwhois = "==1.1.0"
requests = "==2.23.0"
shodan = "==1.23.0"
slackclient = "*"
SQLAlchemy = "==1.3.16"
termcolor = "==1.1.0"
tqdm = "==4.46.0"

[dev-packages]

[requires]
python_version = "3.9"
